blob-store
compile-cache
dev
storage
.apm
.node-gyp
.npm
packages/atom-beautify/
packages/atom-increment/
packages/atom-material-syntax/
packages/atom-material-ui/
packages/autocomplete-paths/
packages/browser-plus/
packages/busy-signal/
packages/compare-files/
packages/emmet/
packages/git-plus/
packages/intentions/
packages/language-powershell/
packages/linter/
packages/linter-eslint/
packages/linter-ui-default/
packages/minimap/
packages/open-in-browser/
packages/pigments/
packages/seti-icons/
packages/whitespace/
packages/react/
packages/sync-settings
